# .gitattributes 1.1.0                UTF-8                     2015-01-08
#
#           GIT ATTRIBUTES FOR THE CORINTHIA GIT REPOSITORY

# Set the default behavior in case people don't have core.autocrlf set.
# This will automatically convert between line-ending style of the client
# and whatever line-ending style that is found in the repository.  (On the
# client, always use a Git package that is compiled for the native OS.)

* text=auto
# This declares files to be text by default and to be line-ending alterable.
# Be careful.  See the group below.

# Denote all files that are truly binary and must not be scanned for line-end.
# Some of these might also be .gitignored.  Better safe than sorry.
#   NOT AN EXHAUSTIVE LIST.  Before adding a binary format to the repository,
# verify that it is listed here.

# Common binary formats
*.bin binary
*.bmp binary
*.dat binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
*.suo binary
*.wav binary
*.zip binary

# ODF/OpenOffice binary document formats
*.odt binary
*.ott binary
*.odg binary
*.otg binary
*.odp binary
*.otp binary
*.ods binary
*.ots binary
*.odc binary
*.otc binary
*.odi binary
*.oti binary
*.odf binary
*.otf binary
*.odm binary
*.oxt binary

# OOXML/Microsoft Office binary document formats (common ones)
*.doc  binary
*.docm binary
*.docx binary
*.dot  binary
*.dotx binary
*.emf  binary
*.pub  binary
*.ppt  binary
*.pptm binary
*.pptx binary
*.vsd  binary
*.xls  binary
*.xlsm binary
*.xlsx binary

# Other folks binary document formats
*.adm    binary
*.dib    binary
*.mdb    binary
*.mpp    binary
*.msg    binary
*.ole2   binary
*.ooxml  binary
*.pfx    binary
*.qwp    binary
*.shw    binary
*.sldprt binary
*.wps    binary
*.zvi    binary



#                          *** end of .gitattributes ***


