# .gitignore 0.06                     UTF-8                       2015-08-09
#
#                                 CORINTHIA/ROOT
#                                 ==============
#
#              .GITIGNORE FOR KEEPING BUILDS OUT OF THE REPOSITORY
#
#   This .gitignore file is designed to eliminate build setups and their
#   output from being committed to and carried in the repository.  This is
#   part of a structure where anyone can do multiple flavors of builds
#   along-side the source without cluttering the repository iself.

## ELIMINATE AUTHORING/FILE-SYSTEM ARTIFACTS
## -----------------------------------------

#   Editing backup and working files
*~
*#

# Finder directory status files (OS X)
.DS_Store

## ELIMINATION OF VISUAL STUDIO SOLUTIONS
## --------------------------------------

# Do not include working solutions in the repository tree.  For Corinthia,
# these will be built/extracted dynamically into the build/ folder as needed
# and will not appear directly in the source tree.

*.sln
*.vcxproj
*.vcxproj.filters

## KEEP BUILDS IN THE BUILD/ FOLDER
## --------------------------------

build*/
# If all build operations are carried out in either the build/ folder or
# outside of the repository folder, they will be automatically excluded from
# the repository.

# 0.06 2015-08-09T10:17 Removed now-obsolete use of external/ as part of
#      build usage.
# 0.05 2015-08-09T09:00 Add additional build exclusions based on recommended
#      ones from GitHub and experience with ephemeral artifacts on Windows.
#      Based on an 0.04 from another project (orcmid).
#
#                    *** end of .gitignore ***
