@page {
    size: A4 portrait;
}

body {
    counter-reset: h1 h2 h3 h4 h5 h6 figure table;
    margin-bottom: 12.10084%;
    margin-left: 15.12605%;
    margin-right: 15.12605%;
    margin-top: 12.10084%;
}

caption {
    -uxwrite-display-name: "caption";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #4F81BD;
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: 10pt;
}

h1.heading_1 {
    -uxwrite-display-name: "heading 1";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #345A8A;
    counter-increment: h1;
    counter-reset: h2 h3 h4 h5 h6;
    font-size: 16pt;
    font-weight: bold;
    margin-top: 24pt;
}

h1.heading_1::before {
    content: counter(h1) " ";
}

h2.heading_2 {
    -uxwrite-display-name: "heading 2";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #4F81BD;
    counter-increment: h2;
    counter-reset: h3 h4 h5 h6;
    font-size: 13pt;
    font-weight: bold;
    margin-top: 10pt;
}

h2.heading_2::before {
    content: counter(h1) "." counter(h2) " ";
}

h3.heading_3 {
    -uxwrite-display-name: "heading 3";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #4F81BD;
    counter-increment: h3;
    counter-reset: h4 h5 h6;
    font-weight: bold;
    margin-top: 10pt;
}

h3.heading_3::before {
    content: counter(h1) "." counter(h2) "." counter(h3) " ";
}

h4.heading_4 {
    -uxwrite-display-name: "heading 4";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #4F81BD;
    counter-increment: h4;
    counter-reset: h5 h6;
    font-style: italic;
    font-weight: bold;
    margin-top: 10pt;
}

h4.heading_4::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " ";
}

h5.heading_5 {
    -uxwrite-display-name: "heading 5";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #243F60;
    counter-increment: h5;
    counter-reset: h6;
    margin-top: 10pt;
}

h5.heading_5::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " ";
}

h6.heading_6 {
    -uxwrite-display-name: "heading 6";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #243F60;
    counter-increment: h6;
    counter-reset: ;
    font-style: italic;
    margin-top: 10pt;
}

h6.heading_6::before {
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " ";
}

p.heading_7 {
    -uxwrite-display-name: "heading 7";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #404040;
    font-style: italic;
    margin-top: 10pt;
}

p.heading_8 {
    -uxwrite-display-name: "heading 8";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #404040;
    font-size: 10pt;
    margin-top: 10pt;
}

p.heading_9 {
    -uxwrite-display-name: "heading 9";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #404040;
    font-size: 10pt;
    font-style: italic;
    margin-top: 10pt;
}

p.Normal {
    -uxwrite-default: true;
    -uxwrite-display-name: "Normal";
}

span.Default_Paragraph_Font {
    -uxwrite-default: true;
    -uxwrite-display-name: "Default Paragraph Font";
}

span.Heading_1_Char {
    -uxwrite-display-name: "Heading 1 Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    color: #345A8A;
    font-size: 16pt;
    font-weight: bold;
}

span.Heading_2_Char {
    -uxwrite-display-name: "Heading 2 Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    color: #4F81BD;
    font-size: 13pt;
    font-weight: bold;
}

span.Heading_3_Char {
    -uxwrite-display-name: "Heading 3 Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    color: #4F81BD;
    font-weight: bold;
}

span.Heading_4_Char {
    -uxwrite-display-name: "Heading 4 Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    color: #4F81BD;
    font-style: italic;
    font-weight: bold;
}

span.Heading_5_Char {
    -uxwrite-display-name: "Heading 5 Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    color: #243F60;
}

span.Heading_6_Char {
    -uxwrite-display-name: "Heading 6 Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    color: #243F60;
    font-style: italic;
}

span.Heading_7_Char {
    -uxwrite-display-name: "Heading 7 Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    color: #404040;
    font-style: italic;
}

span.Heading_8_Char {
    -uxwrite-display-name: "Heading 8 Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    color: #404040;
    font-size: 10pt;
}

span.Heading_9_Char {
    -uxwrite-display-name: "Heading 9 Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    color: #404040;
    font-size: 10pt;
    font-style: italic;
}

table.Normal_Table {
    -uxwrite-default: true;
    -uxwrite-display-name: "Normal Table";
}

table.Normal_Table > * > tr > td {
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}

table.Table_Grid {
    -uxwrite-display-name: "Table Grid";
    -uxwrite-parent: "table.Normal_Table";
    border: thin solid black;
}

table.Table_Grid > * > tr > td {
    border: thin solid black;
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}
