@page {
    size: A4 portrait;
}

body {
    counter-reset: h1 h2 h3 h4 h5 h6 figure table;
    margin-bottom: 12.10084%;
    margin-left: 15.12605%;
    margin-right: 15.12605%;
    margin-top: 12.10084%;
}

caption {
    -uxwrite-display-name: "caption";
    -uxwrite-next: "p.Normal";
    -uxwrite-parent: "p.Normal";
    color: #4F81BD;
    counter-increment: table;
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: 10pt;
}

caption::before {
    content: "Table " counter(table) ": ";
}

p.Normal {
    -uxwrite-default: true;
    -uxwrite-display-name: "Normal";
}

span.Default_Paragraph_Font {
    -uxwrite-default: true;
    -uxwrite-display-name: "Default Paragraph Font";
}

table.Table_Grid {
    -uxwrite-display-name: "Table Grid";
    -uxwrite-parent: "table.Normal_Table";
    border: thin solid #000000;
}

table.Table_Grid > * > tr > td {
    border: thin solid #000000;
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}

table.Normal_Table {
    -uxwrite-default: true;
    -uxwrite-display-name: "Normal Table";
}

table.Normal_Table > * > tr > td {
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}
