@page {
    size: A4 portrait;
}

body {
    counter-reset: h1 h2 h3 h4 h5 h6 figure table;
    margin-bottom: 12.10084%;
    margin-left: 15.12605%;
    margin-right: 15.12605%;
    margin-top: 12.10084%;
}

p.Balloon_Text {
    -uxwrite-display-name: "Balloon Text";
    -uxwrite-parent: "p.Normal";
    font-family: "Lucida Grande";
    font-size: 9pt;
}

p.Normal {
    -uxwrite-default: true;
    -uxwrite-display-name: "Normal";
}

span.Balloon_Text_Char {
    -uxwrite-display-name: "Balloon Text Char";
    -uxwrite-parent: "span.Default_Paragraph_Font";
    font-family: "Lucida Grande";
    font-size: 9pt;
}

span.Default_Paragraph_Font {
    -uxwrite-default: true;
    -uxwrite-display-name: "Default Paragraph Font";
}

table.Normal_Table {
    -uxwrite-default: true;
    -uxwrite-display-name: "Normal Table";
}

table.Normal_Table > * > tr > td {
    padding-bottom: 0pt;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0pt;
}
